<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-5 mb-lg-0 nav-left">
        <li>
          <a class="navbar-brand" [routerLink]="['/']">
            <img
              alt="Logo"
              class="d-inline-block align-text-top"
              height="36"
              src="../../favicon.ico"
              width="36"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']">
            {{ "label.home" | translate }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "label.products" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/product']">{{
                "label.all_products" | translate
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "label.categories" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/category']">{{
                "label.all_categories" | translate
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Conteneur de la barre de recherche et des résultats -->
      <div class="search-container">
        <!-- Barre de recherche -->
        <form class="d-flex search-bar" role="search">
          <input
            class="form-control me-2 input-search"
            type="search"
            placeholder="{{ 'label.search' | translate }}"
            aria-label="Search"
            name="searchTerm"
            [(ngModel)]="searchTerm"
            (input)="onSearchChange()"
          />
          <button
            class="btn btn-outline-success btn-search-submit"
            type="submit"
          >
            <mat-icon>search</mat-icon>
          </button>
        </form>
        <!-- Résultats de recherche -->
        <div *ngIf="searchResults.length > 0" class="search-dropdown">
          <ul>
            <li
              *ngFor="let product of searchResults; let i = index"
              [hidden]="i >= 5"
            >
              {{ product.name }}
            </li>
          </ul>
          <a [routerLink]="['/product']">{{
            "label.all_results" | translate
          }}</a>
        </div>
      </div>

      <!-- Boutons de connexion à droite -->
      <ul class="navbar-nav ml-auto nav-right">
        <li class="nav-item">
          <div class="icon-wrapper">
            <fa-icon
              (click)="showLanguages = !showLanguages"
              [icon]="faIcons.language"
              class="icon"
            ></fa-icon>
            <div *ngIf="showLanguages" class="languages-list">
              <div (click)="useLanguage(lang)" *ngFor="let lang of languages">
                <button class="btn-lang">
                  {{ "lang." + lang | translate }}
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <!-- light/dark theme -->
          <div class="icon-wrapper">
            <fa-icon
              (click)="toggleTheme()"
              [icon]="faIconTheme"
              class="icon"
            ></fa-icon>
          </div>
        </li>

        <!-- Si non connecté -->
        <li class="nav-item-no-connected" *ngIf="!isConnected">
          <div>
            <button>
              <a class="nav-link" [routerLink]="['/signin']">{{
                "label.signin" | translate
              }}</a>
            </button>
            <button>
              <a class="nav-link" [routerLink]="['/register']">{{
                "label.register" | translate
              }}</a>
            </button>
          </div>
        </li>
        <!-- Si connecté -->
        <li class="nav-item-connected" *ngIf="isConnected">
          <div>
            <button>
              <a class="nav-link" [routerLink]="['/profile']">{{
                "label.profile" | translate
              }}</a>
            </button>
            <button>
              <a class="nav-link" [routerLink]="['/cart']">{{
                "label.cart" | translate
              }}</a>
            </button>
            <button>
              <a class="nav-link" [routerLink]="['/orders']">{{
                "label.orders" | translate
              }}</a>
            </button>
            <button>
              <a class="nav-link" (click)="logout()">{{
                "label.logout" | translate
              }}</a>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
