<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-5 mb-lg-0 nav-left">
        <li>
          <a class="navbar-brand" [routerLink]="['/']">
            <img
              alt="Logo"
              class="d-inline-block align-text-top"
              height="36"
              src="../../favicon.ico"
              width="36"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']">
            {{ "label.home" | translate }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "label.products" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/product']">{{
                "label.all_products" | translate
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "label.categories" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/']">{{
                "label.section" | translate
              }}</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/category']">{{
                "label.all_categories" | translate
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Conteneur de la barre de recherche et des résultats -->
      <div class="search-container">
        <!-- Barre de recherche -->
        <form class="d-flex search-bar" role="search">
          <input
            class="form-control me-2 input-search"
            type="search"
            placeholder="{{ 'label.search' | translate }}"
            aria-label="Search"
            name="searchTerm"
            [(ngModel)]="searchTerm"
            (input)="onSearchChange()"
          />
          <button
            class="btn btn-outline-success btn-search-submit"
            type="submit"
          >
            <mat-icon>search</mat-icon>
          </button>
        </form>
        <!-- Résultats de recherche -->
        <div *ngIf="searchResults.length > 0" class="search-dropdown">
          <ul>
            <li
              *ngFor="let product of searchResults; let i = index"
              [hidden]="i >= 5"
            >
              {{ product.name }}
            </li>
          </ul>
          <a [routerLink]="['/product']">{{
            "label.all_results" | translate
          }}</a>
        </div>
      </div>

      <!-- Boutons de connexion à droite -->
      <ul class="navbar-nav ml-auto nav-right">
        <li class="nav-item">
          <div class="icon-wrapper">
            <button
              mat-button
              matTooltip="{{ 'label.change_language' | translate }}"
              [matMenuTriggerFor]="languageMenu"
            >
              <fa-icon [icon]="faIcons.language" class="icon"></fa-icon>
            </button>

            <mat-menu #languageMenu="matMenu">
              <button
                *ngFor="let lang of languages"
                mat-menu-item
                (click)="useLanguage(lang)"
              >
                {{ "lang." + lang | translate }}
              </button>
            </mat-menu>
          </div>
        </li>
        <li class="nav-item">
          <!-- light/dark theme -->
          <div class="icon-wrapper">
            <fa-icon
              (click)="toggleTheme()"
              [icon]="faIconTheme"
              class="icon"
              id="theme-icon"
              matTooltip="{{ 'label.change_theme' | translate }}"
            ></fa-icon>
          </div>
        </li>

        <!-- Si non connecté -->
        <li class="nav-item-no-connected" *ngIf="!isConnected">
          <div>
            <button mat-raised-button [routerLink]="['/signin']">
              {{ "label.signin" | translate }}
            </button>
            <button mat-raised-button [routerLink]="['/register']">
              {{ "label.register" | translate }}
            </button>
          </div>
        </li>

        <!-- Si connecté -->
        <li class="nav-item-connected" *ngIf="isConnected">
          <div>
            <button
              mat-button
              [matMenuTriggerFor]="userMenu"
              matTooltip="{{ 'label.profile' | translate }}"
            >
              <fa-icon [icon]="faIcons.user" class="icon"></fa-icon>
            </button>

            <mat-menu #userMenu="matMenu">
              <button mat-menu-item [routerLink]="['/user']">
                <fa-icon [icon]="faIcons.user" class="icon"></fa-icon>
                {{ "label.my_account" | translate }}
              </button>
              <button mat-menu-item [routerLink]="['/cart']">
                <fa-icon [icon]="faIcons.shoppingCart" class="icon"></fa-icon>
                {{ "label.cart" | translate }}
              </button>
              <button mat-menu-item [routerLink]="['/favorites']">
                <fa-icon [icon]="faIcons.heart" class="icon"></fa-icon>
                {{ "label.favorites" | translate }}
              </button>
              <button mat-menu-item (click)="logout()">
                <fa-icon [icon]="faIcons.signOutAlt" class="icon"></fa-icon>
                {{ "label.logout" | translate }}
              </button>
            </mat-menu>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
