
$light-color-primary: #94E8B4
$light-color-secondary: #72bd8b
$light-color-tertiary: #5E8C61
$light-color-quaternary: #4E6151
$light-color-quinary: #3B322C
$light-color-senary: #2A231F

$light-color-search: #d3ffe4

$dark-color-primary: #2A231F
$dark-color-secondary: #3B322C
$dark-color-tertiary: #4E6151
$dark-color-quaternary: #5E8C61
$dark-color-quinary: #72bd8b
$dark-color-senary: #94E8B4

$dark-color-search: #1A1614

$font-family: 'Arial', sans-serif
